DB_NAME=finance_app
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

SECRET_KEY=change-this-super-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
TEST_ADMIN_NAME=admin_test
TEST_ADMIN_PASSWORD=admin_pass_123
TEST_USER_NAME=user_test
TEST_USER_PASSWORD=user_pass_123
TEST_USER2_NAME=user2_test
TEST_USER2_PASSWORD=user2_pass_123
